<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/albums/all">Albums</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
<h1>Create Album</h1>
<hr />
<form method="post" action="/albums/create">
    <div>
        Name <input type="text" name="albumName" placeholder="Name..." />
    </div>
    <div>
        Cover <input type="text" name="cover" placeholder="Cover..." />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>
<hr />
<a href="/albums/all">Back to all</a>