<h1 class="text-center">Create Product</h1>
<hr class="hr-2 bg-dark" />
<form class="mx-auto half-width" method="post" action="/products/create">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" placeholder="Name..." name="Name">
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input type="number" step="0.01" min="0" class="form-control" id="Price" placeholder="Price..." name="Price">
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" placeholder="Description..." name="Description"></textarea>
    </div>
    <h4 class="text-center">Product Type</h4>
    <hr class="hr-2 half-width bg-dark" />
    <div class="row justify-content-around">
        <div class="row justify-content-around">
            { var types = new[] { "Food", "Domestic", "Health", "Cosmetic", "Other" }; }
            @foreach(var type in types)
            {
                <div class="col-md-2">
                    <input id="type@type" type="radio" name="type" value="@type" />
                    <label for="type@type">@type</label>
                </div>
            }
        </div>
    </div>
    <hr class="hr-2 half-width bg-dark" />
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn chushka-bg-color">Create</button>
    </div>
</form>