<h1 class="text-center">Delete Product</h1>
<hr class="hr-2 bg-dark" />
<div class="mx-auto w-50">
    <div class="form-group">
        <label for="Name">Name</label>
        <input disabled="disabled" type="text" class="form-control" value="@Model.Name" id="Name" placeholder="Name..." name="Name">
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input disabled="disabled" type="number" step="0.01" min="0" value="@Model.Price" class="form-control" id="Price" placeholder="Price..." name="Price">
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea disabled="disabled" class="form-control" id="Description" placeholder="Description..." name="Description">@Model.Description</textarea>
    </div>
    <h4 class="text-center">Product Type</h4>
    <hr class="hr-2 half-width bg-dark" />
    <div class="row justify-content-around">
        <div class="row justify-content-around">
            { var types = new[] { "Food", "Domestic", "Health", "Cosmetic", "Other" }; }
            @foreach(var type in types)
            {
            <div class="col-md-2">
                <input id="type@type"
                       disabled="disabled"
                       type="radio"
                       @if(Model.Type==type)
                       {
                       checked="checked"
                       }
                       name="type"
                       value="@type" />
                <label for="type@type">@type</label>
            </div>
            }
        </div>
    </div>
</div>
<hr class="hr-2 half-width bg-dark" />
<form class="mx-auto w-50 form-group" method="post" action="/products/delete">
    <div class="button-holder d-flex justify-content-center">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn chushka-bg-color">Delete</button>
        <a href="/products/details?id=@Model.Id" class="btn chushka-bg-color">Cancel</a>
    </div>
</form>