<div class="container-fluid text-center">
    @if(User.Role != "Admin")
    {
    <h1 class="text-center text-torshia">Hello, @User.Username!</h1>
    }
    @else
    {
    <h1 class="text-center text-torshia">Hello, Administrator @User.Username!</h1>
    }
</div>
<hr class="bg-panda w-100 hr-2" />

<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-md-3">
            <h2 class="text-torshia">Pending</h2>
            <div class="border-panda text-torshia">
                @for(var i = 0; i < Model.PendingPackages.Count(); i++)
                {
                { var package = Model.PendingPackages.ToList()[i]; }
                <h3 class="text-torshia">@package.Description</h3>
                <h5><a href="/packages/details?id=@package.Id" class="btn bg-panda text-white">Details</a></h5>
                }
            </div>
        </div>
        <div class="col-md-3">
            <h2 class="text-torshia">Shipped</h2>
            <div class="border-panda text-torshia">
                @for(var i = 0; i < Model.ShippedPackages.Count(); i++)
                {
                { var package = Model.ShippedPackages.ToList()[i]; }
                <h3 class="text-torshia">@package.Description</h3>
                <h5><a href="/packages/details?id=@package.Id" class="btn bg-panda text-white">Details</a></h5>
                }
            </div>
        </div>
        <div class="col-md-3">
            <h2 class="text-torshia">Delivered</h2>
            <div class="border-panda text-torshia">
                @for(var i = 0; i < Model.DeliveredPackages.Count(); i++)
                {
                { var package = Model.DeliveredPackages.ToList()[i]; }
                <h3 class="text-torshia">@package.Description</h3>
                <h5><a href="/packages/acquire?id=@package.Id" class="btn bg-panda text-white">Acquire</a></h5>
                }
            </div>
        </div>
    </div>
</div>